body{
	height: 100vh;
	width: 100vw;
}

#background {
  background-image: url('assets/background.jpg');
  height: 900px;
  width: 1200px;
}

#hero {
	background-image: url('assets/hero.png');
	height: 35px;
	width: 66px;
	position: absolute;
	top: 630px;
	left: 530px;
}

.enemy {
	background-image: url('assets/enemy.png');
	height: 35px;
	width: 36px;
	position: absolute;
	/*top: 200px;
	left: 530px;*/

}

#missiles {
  
  height: 900px;
  width: 1200px;
  position: absolute;
}

.missile {
	background-image: url('assets/missile.png');
	height: 18px;
	width: 9px;
	position: absolute;
	/*top: 617px;
	left: 558px;*/

}

#enemies {
  
  height: 900px;
  width: 1200px;
  position: absolute;
}



